# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/

# Logs
*.log

# OS generated
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
